@model IEnumerable<ProEntity.Course>

@{
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Courses</title>
</head>
<body>
    <div align="center">
        <h2>Courses</h2>
        <table class="table table-bordered">
            <tr>
                <th>
                    <label>Course Name</label>
                </th>
                <th>
                    <label>Semester</label>
                </th>
                <th>
                    <label>Credit</label>
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Semester)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.credit)
                    </td>
                    <td>

                        @Html.ActionLink("Grades", "Grades", new { id = item.CourseId })

                    </td>
                </tr>
            }

        </table>
        @Html.ActionLink("Home", "Index")
    </div>
</body>
</html>
